{% block sw_cms_block_high_to_low_product_discount_slider %}
    <div class="sw-cms-block-high-to-low-product-discount-slider">
        <slot name="discountProductSlider"></slot>
    </div>
{% endblock %}
