{% block sw_cms_block_blog_image_text_preview %}
    <div class="sw-cms-preview-blog-image-text">
        <img
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
            alt=""
        >
        <div>
            <h2>First Image Cms Blog</h2>
            <p>
                An image is a visual representation of something, while a digital image is a binary representation of visual data. These images can take the form of photographs, graphics and individual video frames. For this purpose, an image is a picture that was created or copied and stored in electronic form.</p>
        </div>
    </div>
{% endblock %}
