{% block sw_cms_element_video_image_text_preview %}
    <div class="sw-cms-el-preview-video-image-text">
        <img
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
            alt=""
        >
    </div>
    <div class="sw-cms-el-preview-youtube-video">
        <img
            class="sw-cms-el-preview-youtube-video__img"
            :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
            alt=""
        >
        <img
            class="sw-cms-el-preview-youtube-video__icon"
            :src="'/administration/static/img/cms/youtube-icon.png' | asset"
            alt=""
        >
    </div>
{% endblock %}
