<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_blogs_text_preview %}
    <div class="sw-cms-preview-blogs-text">
        <h2>This is a first cms..</h2>
        <p>
            This is a first cms text field apply in our storefront page.
            In this cms page show storefront side.
            This is very simple write and used.
        </p>
    </div>
{% endblock %}
