<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_blog_text_preview %}
    <div class="sw-cms-el-preview-blog-text">
        <h2>First blog cms</h2>
        <p>
            This is a first text field cms block add in backend and show in storefront.
            In this cms block show storefront side.
            Very simple process to add and show cms text field in storefront.
        </p>
    </div>
{% endblock %}
