{% block sw_cms_ictech_preview_product_slider %}
    <div class="sw-cms-ictech-preview-product-slider">
        <sw-icon
            name="regular-chevron-left"
            size="20"
        />
        <div class="sw-cms-ictech-preview-product-slider__product-box">
            <sw-cms-product-box-preview />
            <sw-cms-product-box-preview />
        </div>
        <sw-icon
            name="regular-chevron-right"
            size="20"
        />
    </div>
{% endblock %}
