{% block sw_cms_element_discount_product_slider_config %}
    <div class="sw-cms-el-config-discount-product-slider">
        {% block sw_cms_element_discount_product_slider_config_tabs %}
            <sw-tabs
                position-identifier="sw-cms-element-config-discount-product-slider"
                class="sw-cms-el-config-discount-product-slider__tabs"
                default-item="content"
            >
                <template slot-scope="{ active }">
                    {% block sw_cms_element_discount_product_slider_config_tab_content %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.content')"
                            name="content"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}

                    {% block sw_cms_element_discount_product_slider_config_tab_options %}
                        <sw-tabs-item
                            :title="$tc('sw-cms.elements.general.config.tab.settings')"
                            name="settings"
                            :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }">
                    {% block sw_cms_element_discount_product_slider_config_content %}
                        <sw-container
                            v-if="active === 'content'"
                            class="sw-cms-el-config-discount-product-slider__tab-content"
                        >
                            {% block sw_cms_element_discount_product_slider_config_content_warning_text %}
                                <sw-alert
                                    v-if="isProductPageType"
                                    class="sw-cms-el-config-product-slider-new__warning-text"
                                    variant="info"
                                >
                                    {{ $tc('sw-cms.elements.productSlider.productSliderNew.productNew.config.infoText.productDetailElement') }}
                                </sw-alert>
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_content_title %}
                                <sw-field
                                    v-model="element.config.title.value"
                                    type="text"
                                    :label="$tc('sw-cms.elements.productSlider.config.label.title')"
                                    :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.title')"
                                />
                            {% endblock %}
                            {#mapping #}
                            {% block sw_cms_el_discount_product_slider_config_content %}
                                <sw-container
                                    v-if="active === 'content'"
                                    class="sw-cms-el-config-text__tab-content"
                                >
                                    <sw-cms-mapping-field-slider
                                        v-model="element.config.content"
                                        value-types="string"
                                    >
                                        {% block sw_cms_el_discount_product_slider_content_field %}
                                            <sw-entity-single-select
                                                entity="category"
                                                size="medium"
                                                v-model="category"
                                                @change="onChangeCategory"
                                            >
                                                <template #selection-label-property="{ item }">
                                                    <slot
                                                        name="selection-label-property"
                                                        v-bind="{ item }"
                                                    >
                                                        {% block tdo_individual_offer_category_select_results %}
                                                            {{ item.translated.name || item.name }}
                                                        {% endblock %}
                                                    </slot>
                                                </template>
                                            </sw-entity-single-select>
                                        {% endblock %}

                                        <div
                                            slot="preview"
                                            slot-scope="{ demoValueSlider }"
                                            class="sw-cms-el-config-product-slider-new__mapping-preview"
                                        >
                                            <div v-html="$sanitize(demoValueSlider)"></div>
                                        </div>
                                    </sw-cms-mapping-field-slider>
                                </sw-container>
                            {% endblock %}
                            {% block  sw_cms_element_discount_product_slider_config_slider_total_number%}
                                <sw-number-field
                                    v-model="element.config.totalNumber.value"
                                    :label="$tc('sw-cms.elements.productSlider.discountProductSlider.config.label.totalNumber')"
                                    :placeholder="$tc('sw-cms.elements.productSlider.discountProductSlider.config.placeholder.totalNumber')"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block sw_cms_element_discount_product_slider_config_settings %}
                        <sw-container
                            v-if="active === 'settings'"
                            class="sw-cms-el-config-discount-product-slider__tab-settings"
                        >
                            {% block sw_cms_element_discount_product_slider_config_settings_display_mode %}
                                <sw-select-field
                                    v-model="element.config.displayMode.value"
                                    :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                                    </option>
                                    <option value="cover">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                                    </option>
                                    <option value="contain">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_vertical_align %}
                                <sw-select-field
                                    v-model="element.config.verticalAlign.value"
                                    :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                    :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                >
                                    <option value="flex-start">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                                    </option>
                                    <option value="center">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                                    </option>
                                    <option value="flex-end">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_box_layout %}
                                <sw-select-field
                                    v-model="element.config.boxLayout.value"
                                    :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
                                    </option>
                                    <option value="image">
                                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
                                    </option>
                                    <option value="minimal">
                                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_navigation %}
                                <sw-field
                                    v-model="element.config.navigation.value"
                                    type="switch"
                                    bordered
                                    :label="$tc('sw-cms.elements.productSlider.config.label.navigation')"
                                />
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_rotate %}
                                <sw-field
                                    v-model="element.config.rotate.value"
                                    type="switch"
                                    bordered
                                    :label="$tc('sw-cms.elements.productSlider.config.label.rotate')"
                                />
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_border %}
                                <sw-field
                                    v-model="element.config.border.value"
                                    type="switch"
                                    bordered
                                    :label="$tc('sw-cms.elements.productSlider.config.label.border')"
                                />
                            {% endblock %}

                            {% block sw_cms_element_discount_product_slider_config_settings_min_width %}
                                <sw-field
                                    v-model="element.config.elMinWidth.value"
                                    type="text"
                                    :label="$tc('sw-cms.elements.productSlider.config.label.minWidth')"
                                    :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.minWidth')"
                                />
                            {% endblock %}
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
