{% block sw_cms_block_blog_text %}
    <div class="sw-cms-block-text">
        <slot name="content">
            {% block sw_cms_block_blog_text_slot_blog_text_content %} {% endblock %}
        </slot>
    </div>
{% endblock %}
