<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_blogs_text %}
    <div class="sw-cms-block-blogs-text">
        <slot name="content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_block_blogs_text_slot_text_content %} {% endblock %}
        </slot>
    </div>
{% endblock %}
