<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_testdemo_detail %}
    <sw-page class="sw-testdemo-detail">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_testdemo_detail_header %}
            <template #smart-bar-header>
                <h2>{{ placeholder(testdemo, 'name', $tc('sw-testdemo.detail.textHeadline')) }}</h2>
            </template>

        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_testdemo_detail_actions %}
            <template #smart-bar-actions>

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_testdemo_detail_actions_abort %}
                    <sw-button
                        v-tooltip.bottom="tooltipCancel"
                        :disabled="testdemoIsLoading"
                        @click="onCancel"
                    >
                        {{ $tc('sw-testdemo.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_testdemo_detail_actions_save %}
                    <sw-button-process
                        v-model="isSaveSuccessful"
                        v-tooltip.bottom="tooltipSave"
                        class="sw-testdemo-detail__save-action"
                        :is-loading="isLoading"
                        variant="primary"
                        @click.prevent="onSave"
                    >
                        {{ $tc('sw-testdemo.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}

            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_testdemo_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    :disabled="testdemoId == null"
                    :save-changes-function="saveOnLanguageChange"
                    :abort-change-function="abortOnLanguageChange"
                    @on-change="onChangeLanguage"
                />
            </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_testdemo_detail_content %}
            <sw-card-view slot="content">
                <template v-if="testdemoIsLoading">
                    <sw-skeleton variant="detail-bold" />
                    <sw-skeleton />
                </template>

                <template v-else>
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_testdemo_detail_content_language_info %}
                        <sw-language-info
                            :entity-description="placeholder(testdemo, 'name', $tc('sw-testdemo.detail.textHeadline'))"
                        />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_testdemo_detail_base_basic_info_card %}
                        <sw-card
                            position-identifier="sw-testdemo-detail-basic-info"
                            :title="$tc('sw-testdemo.detail.cardTitleTestdemoInfo')"
                        >
                            <sw-container
                                class="sw-testdemo-detail__container"
                                columns="repeat(auto-fit, minmax(250px, 1fr))"
                                gap="0 30px"
                            >
                                <div class="sw-testdemo-detail__base-info-wrapper">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_testdemo_detail_base_info_name_field %}
                                    <sw-field
                                        v-model="testdemo.name"
                                        type="text"
                                        :label="$tc('sw-testdemo.detail.labelName')"
                                        :placeholder="placeholder(testdemo, 'name', $tc('sw-testdemo.detail.placeholderName'))"
                                        name="name"
                                        validation="required"
                                        :error="testdemoNameError"
                                        :disabled="!acl.can('test_demo.editor')"
                                    />
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_testdemo_detail_base_info_city_field %}
                                    <sw-field
                                        v-model="testdemo.city"
                                        type="text"
                                        :label="$tc('sw-testdemo.detail.labelCity')"
                                        :placeholder="placeholder(testdemo, 'city', $tc('sw-testdemo.detail.placeholderCity'))"
                                        name="city"
                                        validation="required"
                                        :error="testdemoCityError"
                                        :disabled="!acl.can('test_demo.editor')"
                                    />
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_testdemo_detail_country_field %}
                                    <sw-entity-single-select
                                        v-model="countryId"
                                        class="sw-testdemo_detail__country-select"
                                        entity="country"
                                        :criteria="countryCriteria"
                                        :label="$tc('sw-testdemo.detail.labelCountry')"
                                        :placeholder="$tc('sw-testdemo.detail.placeholderCountry')"
                                        validation="required"
                                        :error="testdemoCountryIdError"
                                        :disabled="!acl.can('test_demo.editor')"
                                    />
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_testdemo_detail_state_field %}
                                    <div
                                        class="sw-testdemo_detail__state-select-placeholder"
                                    >
                                        <sw-entity-single-select
                                            v-model="testdemo.countryStateId"
                                            class="sw-testdemo_detail__state-select"
                                            entity="country_state"
                                            :criteria="stateCriteria"
                                            :label="$tc('sw-testdemo.detail.labelState')"
                                            :placeholder="$tc('sw-testdemo.detail.placeholderState')"
                                            :required="country && country.forceStateInRegistration"
                                            validation="required"
                                            :error="testdemoCountryStateIdError"
                                            :disabled="!acl.can('test_demo.editor')"
                                        />
                                    </div>
                                {% endblock %}

                                {% block sw_testdemo_detail_product_field %}
                                    <sw-entity-single-select
                                        v-model="testdemo.productId"
                                        class="sw-testdemo_detail__product-select"
                                        entity="product"
                                        :label="$tc('sw-testdemo.detail.labelProduct')"
                                        :placeholder="$tc('sw-testdemo.detail.placeholderProduct')"
                                        validation="required"
                                        :error="testdemoProductIdError"
                                        :disabled="!acl.can('test_demo.editor')"
                                    />
                                {% endblock %}

                                {% block sw_testdemo_detail_base_info_logo_upload_field %}
                                <sw-upload-listener
                                    :upload-tag="mediaUploadTag"
                                    auto-upload
                                    @media-upload-finish="setMediaItem"
                                />
                                <sw-media-upload-v2
                                    class="sw-testdemo-detail__logo-upload"
                                    v-model="testdemo.mediaId"
                                    :source="testdemo.mediaId"
                                    :allow-multi-select="false"
                                    variant="regular"
                                    :upload-tag="mediaUploadTag"
                                    :label="$tc('sw-testdemo.detail.labelLogo')"
                                    :default-folder="testdemoRepository.entityName"
                                    @sw-media-upload-v2-media-upload-success="setMediaItem"
                                    @media-drop="onDropMedia"
                                    @media-upload-sidebar-open="openMediaSidebar"
                                    @media-upload-remove-image="onUnlinkLogo"
                                    validation="required"
                                    :error="testdemoMediaIdError"
                                    :disabled="!acl.can('test_demo.editor')"
                                />
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_testdemo_detail_base_info_active_field %}
                                <sw-field
                                    v-model="testdemo.active"
                                    type="switch"
                                    bordered
                                    :label="$tc('sw-testdemo.detail.labelActive')"
                                />
                            {% endblock %}

                            </div>
                        </sw-container>
                    </sw-card>
                {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_testdemo_detail_custom_field_sets %}
                    <sw-card
                        v-if="customFieldSets.length > 0"
                        position-identifier="sw-testdemo-detail-custom-field-sets"
                        :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                        :is-loading="testdemoIsLoading"
                    >
                        <sw-custom-field-set-renderer
                        v-if="testdemo"
                        :entity="testdemo"
                        :sets="customFieldSets"
                        />
                </sw-card>
                {% endblock %}
            </template>
        </sw-card-view>
    {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_testdemo_detail_sidebar %}
        <template slot="sidebar">
        <sw-sidebar :propagate-width="true">
            <sw-sidebar-media-item
                ref="mediaSidebarItem"
            >
                <template
                    slot="context-menu-items"
                    slot-scope="media"
                >
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        {{ $tc('sw-testdemo.detail.labelUseAsLogo') }}
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template>
    {% endblock %}
    </sw-page>
{% endblock %}
